$avatarImagesize: 300px;

.avatar img {
  height: $avatarImagesize;
  width: $avatarImagesize;
  padding: 0;
  /* border-radius: 180%; */
  border: 2px solid #e7dddd;
  /* border: 2px solid #bc4949; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
